work/
*.vstf

*.ini

*.mpf

*.mti

*.bak

R8_synthesis/memory_images/test_decoder_BRAM\.txt

R8_synthesis/memory_images/test_decoder\.asm

R8_synthesis/memory_images/test_decoder\.bin

R8_synthesis/memory_images/test_decoder\.sym

R8_synthesis/memory_images/test_decoder\.txt

R8_synthesis/memory_images/PortA_Display\.bin

R8_synthesis/memory_images/PortA_Display\.sym

R8_synthesis/memory_images/PortA_Display\.txt

*.opt

*.bin

*.sym

\.~lock\.R8_arq_spec_2019\.docx#

R8_synthesis/wlft5bkjy9

R8_synthesis/wlft720xy9

R8_synthesis/wlftd4fc3s

R8_synthesis/wlfte2d73b

R8_synthesis/wlfteagh6y

R8_synthesis/wlftgw8jqt

R8_synthesis/wlfti83q7t

R8_synthesis/wlftw5kg14

R8_synthesis/wlfty6h1vx

R8_synthesis/wlftyr7f35

R8_synthesis/wlftzk3fnz
