net "board_clock" loc = V10;
//Middle button is reset
net "board_rst" loc = B8;

//Rightmost display is 0
net "display_en_n[0]" loc = P17;
net "display_en_n[1]" loc = P18;
net "display_en_n[2]" loc = N15;
net "display_en_n[3]" loc = N16;

//PINS are ABCDEFG.
net "display_data[0]" loc = M13;
net "display_data[1]" loc = L14;
net "display_data[2]" loc = N14;
net "display_data[3]" loc = M14;
net "display_data[4]" loc = U18;
net "display_data[5]" loc = U17;
net "display_data[6]" loc = T18;
net "display_data[7]" loc = T17;